@charset "utf-8";

/* 공통/반복 css
상단 / 하단영역 반복 디자인 */

/* 공사표시 */
/* body *{
    outline: 1px dashed rgb(254, 253, 254);
} */

/*  상단영역 */
#top{
    border-bottom: 2px solid #f3a6ba;
    background-color: #000;
}

/* 메인로고 */
.logo{
    text-align: center;
    padding: 20px;
}
.logo img{
    width: 200px
}
/* 탑메뉴*/
.tmenu{
    position: relative;
}

.tmenu>ul{
    position: absolute;
    display: flex;
    top: -50px;
    right: 0;
}
.tmenu>ul>li{
    padding: 0 5px;
}
/* 탑메뉴 상위a요소 */
.tmenu>ul>li>a{
    font-size: 1.5rem;
}

/* sns a요소 확장 */
.sns a {
    display: block;
    width: 100%;
    height: 100%;
}

    /******************* 플렉스박스 *******************/
.fbx{
    display: flex;
}

.jcc{
    /* 수평방향 중앙정렬 */
    justify-content: center;
}

/**********************************************************/

/* 탑메뉴 상위a요소 */
.tmenu>ul>li>a {
    color: #fff;
    font-size: 1.5rem;
}

/* sns메뉴 */
.sns{
    display: flex;
    margin-top: -5px;
}

.sns li{
    width: 30px;
    height: 30px;
    margin: 2px;
    
}

/* 트위터 */
.sns li:nth-child(1) {
    background: url(images/twitter.png) no-repeat center/cover;
}
/* 트위터 */
.sns li:nth-child(2) {
    background: url(images/instagram.png) no-repeat center/cover;
}
/* 트위터 */
.sns li:nth-child(3) {
    background: url(images/youtube.png) no-repeat center/cover;
}

/**************** GNB메뉴 ****************/
.gnb>ul{
    display: flex;
}
.gnb>ul>li{
    width: 150px;
    text-align: center;
}
.gnb>ul>li>a{
    display: block;
    color: #fff;
    font-size: 2rem;
    line-height: 4rem;
    border-bottom: 4px solid transparent;
}

/* 서브메뉴 */
.smenu{
    position: absolute;
    width: 150px;
    z-index: 1;
    height: 0;
    overflow: hidden;
    background-color: #f3a6ba;
    border-radius: 0 0 7px 7px;
    transition: height .3s ease-in-out;
}


/* 서브메뉴 보이기 */
.gnb>ul>li:nth-child(1):hover .smenu{
    height: 78px;
}
.gnb>ul>li:nth-child(2):hover .smenu{
    height: 52px;
}
.gnb>ul>li:nth-child(5):hover .smenu{
    height: 52px;
}

.smenu a{
    display: block;
    font-size: 1.5rem;
    line-height: 25px;
    color: #000;
    font-weight: bold;
}

/* 메인 */
.cont {
    min-height: 800px;
}

/* 하단영역 */
#info{
    background-color: rgba(21, 20, 20, 0.704);
}

.info {
    position: relative;
    min-height: 100px;
}
/* 3-1 하단링크 */
.blink>ul{
    display: flex;
}
.blink {
    padding-top: 10px;
} 
.blink li {
    padding:0 20px;
} 

.blink a{
    color: #fff;
    font-size: 1.4rem;
    line-height: 2;
}
.blink a:hover{
    color: #f3a6ba;
    text-decoration: overline;
}

/* 3-2 저작권정보 */
.cp{
    color: #fff;
    padding: 5px;
}
.cp p{
    font-size: 1.2rem;
    text-align: center;
    line-height: 1.5;
}

/* 3-3 하단로고 */
.blogo{
    text-align: center;
}
