@charset "utf-8";

/* 메인페이지 css */
@import url(./common.css);
@import url(./core.css);
@import url(./reset.css);

body *{
    color: #fff;
}

body{
    background: url(images/main.jpg) no-repeat fixed center/cover ;
}

/* 메인 */
.cont{
    padding-top: 100px;
    box-sizing: border-box;
}
/* 멤버박스 */
.mbx{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 300px;
    margin: 0 auto;
}
/* 멤버 개별박스 공통 */
.mb{
    width: 24%;
    margin: 1%;
    height: 100px;
    padding-bottom: 10px;
}

/* 멤버 이미지 박스 */
.mi{
    transition: .5s ease;
}

.mb:hover .mi{
    margin-left: -53%;
}

/* 멤버 이미지 
- .mi의 직계자식 img만 선택
여기서 ">" 쓸때 띄어쓰기는 의미x 띄어써도 됨 */
/* .mi>img{
    width: 100%;
} */

/* 멤버 설명박스 */
.cbx{
    position: absolute;
    /* 높이값 설정 : 
    0-> 250px 오버시 변경 */
    height: 0px;
    /* 넘치는 내용 자동스크롤
    높이값에 따라 스크롤이 자동변경됨
    높이값이 0이면 모두 숨겨짐 */
    overflow: auto;
    /* 배경: 색이반고윙/크 */
    background: #fff no-repeat center/cover;

    /* 트랜지션 : 속성 시간 이징 지연 */
    transition: height 0.4s ease-out;
}
/* .cat 개별박스에 오버시 .cd보이기 */
.mbx:hover .cbx{
    height: 216px;
    
}
