@charset "utf-8";

/* 메인페이지 css */
@import url(./common.css);
@import url(./core.css);
@import url(./reset.css);

body *{
    color: #fff;
}

body{
    background: url(images/main.jpg) no-repeat fixed center/cover ;
}

/* 메인 */
.cont{
    padding-top: 400px;
    box-sizing: border-box;
}
/* 멤버박스 */
.mbx{
    /* display: flex; */
    width: 90%;
    margin: 0 auto;
}
.mbx::after{
    content: '';
    display: block;
    clear:both;
}

/* 멤버 이미지 개별박스 공통 */
.mb{
    position: relative;
    /* 부모 - .cbx */
    width: 15%;
    margin: 0 5%;
    float: left;
}

/* .mi,.mi2{
    position: relative;
} */

/* 멤버 이미지 박스 */
.mi,.mi2{
    transition: .4s ease-in-out;
}
.mb:hover .mi{
    margin-top: -53%;
}
.mb:hover .mi2{
    margin-top: -53%;
}

.mi>img,.mi2>img{
    width: 100%;
}

/* 이름박스 */
.nbx{
    /* display: block; */
    position: absolute;
    text-align: center;
    bottom: 1%;
    font-size: 20px;
    width: 100%;
    text-shadow: 2px 5px 5px #000;
}

/* 멤버 설명박스 */
.cbx{
    position: absolute;
    /* width: 0px; */
    height: 0px;
    overflow: auto;
    background: #fff no-repeat center/cover;
    transition: height 0.4s ease-out;
    /* transform: translate(0%,-100%); */
}
/* .mbx 개별박스에 오버시 .cbx보이기 */
.mb:hover .cbx{
    height: 200px;
    /* width: 173px; */
}


/* 캐릭터 설명 타이틀 */
.cbx h3{
    /* font-family: 'East Sea Dokdo', cursive; */
    text-align: center;
    font-size: min(2.7vw,30px);
    /* 최대글자크기 30px, 이하는 유동적 */
    font-weight: normal;
    padding: 15px 10px 5px;

    /* 줄바꿈 방지 */
    white-space: nowrap;
    letter-spacing: -1px;
    color: #000;
}

/* 캐릭터 설명문단 */
.cbx p{
    /* font-family: 'Yeon Sung','ZCOOL KuaiLe',cursive; */
    font-size: min(1.1vw,16px);
    /* 최대글자크기 16px 이하는 유동적 */
    line-height: 1.5;
    padding: 10px;
    text-align: justify;
    color: #000;
}

/* 캐릭터 설명 첫번째 p요소의 첫번째 글자
가상요소로 변경하기 */
.cbx p:first-of-type::first-letter{
    font-size: 20px;
    color: rgb(255, 0, 195);
    /* 글자그림자로 테두리 만들기
    그림자 4개를 각방향으로 1px밀기 */
    text-shadow: 
    1px 0 #000,-1px 0 #000,
    0 1px #000,0 -1px #000;
}

