@charset "utf-8";

/* 메인페이지 css */
@import url(./common.css);
@import url(./core.css);
@import url(./reset.css);

body *{
    color: #fff;
}

body{
    background: url(images/main.jpg) no-repeat fixed center/cover ;
}
/* 1-1. 메인로고 */
.logo{
    text-align: center;
    padding: 20px;
}
.logo img{
    width: 200px
}
/* 1-2. 탑메뉴 */
.tmenu{
    position: relative;
}
.tmenu>ul{
    position: absolute;
    top: -50px;
    right: 0;
}
